@model web.Models.Uporabnik

@{
    ViewData["Title"] = "Create";
}

@section Styles {
    <link rel="stylesheet" href="~/css/registracija.css" asp-append-version="true" />
}

<hr />

<div class="row">
    <div class="levi">
    <h1>Dobrodošli v iFind!</h1>
    <p>Pridružite se naši skupnosti in: </p>
    <ul>
        <li>Objavite svoje dogodke in dosežite širšo publiko</li>
        <li>Poiščite zanimive dogodke v svoji bližini ali kjerkoli po svetu</li>
        <li>Ostanite obveščeni o prihajajočih priložnostih in aktivnostih</li>
    </ul>
    <p>Registracija je hitra in enostavna – ustvarite račun in začnite raziskovati dogodke že danes!</p>
</div>


    <div class="desni">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <h2>Registracija</h2>

            <div class="form-group">
                <input asp-for="Ime" class="form-control" placeholder="Ime" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Priimek" class="form-control" placeholder="Priimek" />
                <span asp-validation-for="Priimek" class="text-danger"></span>
            </div>

            

            <div class="form-group">
                <input asp-for="Mail" class="form-control" placeholder="E-mail"/>
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Geslo" class="form-control" placeholder="Geslo"/>
                <span asp-validation-for="Geslo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Spol" class="form-control" placeholder="Spol"/>
                <span asp-validation-for="Spol" class="text-danger"></span>
            </div>

            <!-- kot sem napisal v readme, sem skril opcijo za določanje datuma registracije-->
            <input asp-for="DatumRegistracije" type="hidden" value="@DateTime.Now" />

            <div class="gumbi">
                <a asp-controller="Home" asp-action="Index" class="gumb_nazaj">Nazaj</a>
                <input type="submit" value="Registracija" class="gumb_registracija" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
