@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

@section Styles {
    <link rel="stylesheet" href="~/css/manage.css" asp-append-version="true" />
}

<h1 class="page-title"> </h1>

<div class="account-layout">

    <aside class="account-sidebar">
        <h3 class="sidebar-title">Nastavitve računa</h3>
        <hr>
        <partial name="_ManageNav" />
    </aside>

    <main class="account-content">
        @RenderBody()
    </main>

</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

