@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Sprememba gesla";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>@ViewData["Title"]</h3>

<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.OldPassword"
                       class="form-control"
                       aria-required="true"
                       />
                <label asp-for="Input.OldPassword" class="form-label">Trenutno geslo</label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword"
                       class="form-control"                       aria-required="true"
                       />
                <label asp-for="Input.NewPassword" class="form-label">Novo geslo</label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword"
                       class="form-control"
                       aria-required="true"
                       />
                <label asp-for="Input.ConfirmPassword" class="form-label">Potrdite novo geslo</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary">
                Posodobi geslo
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
