html {
  font-size: 14px;
  background-color: #F5F7F3;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
      background-color: #F5F7F3;

  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
    background-color: #FFFFFF;

}

body {
  margin-bottom: 60px;
    background-color: #FFFFFF;

}

footer{
    background-color: #2B82CB !important;

}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
header, .navbar{
  background-color: #2B82CB !important;
}

footer{
  height: 8%;
}
